@font-face {
	font-family: 'Forum';
	src:
		url('../fonts/Forum.woff2') format('woff2'),
		url('../fonts/Forum.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Archeologicaps';
	src:
		url('../fonts/Archeologicaps.woff2') format('woff2'),
		url('../fonts/Archeologicaps.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'rawline';
	src: url('../fonts/rawline-400.woff2') format('woff2');
	font-weight: 400;
}
